.Profile-Container {
    display: flex;
    gap: 50px;
}

.Profile {
  height: 38rem;
  width: 45%;
  font-size: 1.2rem;
  line-height: 2.5;

  border-radius: 20px;
  padding: 1rem 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.EditProfile {
  height: 38rem;
  width: 60%;
  font-size: 1.2rem;
  margin: auto;
  line-height: 2.5;

  border-radius: 20px;
  padding: 1rem 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Profile-Form {
  height: fit-content;
  width: 100%;
  padding: 2rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(200, 200, 200, 0.2);
  position: relative;
}

.Profile h1 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1rem;
}

.Photo-box {
  height: 14rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Photo-box::before {
  content: "";
  width: 100%;
  height: 50%;
  z-index: -2;
  border-radius: 20px 20px 0 0;
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  left: 0;
}

.Photo-box-back {
  height: 50%;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  background-position: bottom;
}

.Photo-box-back::before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.Photo img {
  height: 12rem;
  width: 12rem;
  border-radius: 20px;
  z-index: 999;
}

.disp-box {
    display: flex;
    justify-content: start;   
}

.disp-box span:first-child {
    font-weight: 500;
    /* margin-right: 50px; */
}


.disp-box span:last-child {
    font-weight: 700;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.Username span:last-child {
    text-transform: uppercase;
}

.Address {
    line-height: 1.2;
    margin-top: 10px;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    font-weight: 500;
    gap: 10px;
}

.address {
    font-size: 1rem;
    font-weight: 500 !important;
}

.Upload-btn {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);

  background-color: orange;
  border-radius: 50px;
  color: white;
  line-height: 1;

  border: none;
  padding: 0.5rem 1.2rem;

  cursor: pointer;
}

.Personal-details {
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 1rem;
  margin-top: 20px;
  width: 100%;

  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.title-box {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title-box label {
  width: 100%;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

.title-box input,
.title-box textarea {
  margin-top: 5px;
  width: 100%;
  font-size: 1rem;
  border: 2px solid transparent;
  background-color: #fff;
  padding-left: 10px;
  border-radius: 5px;
  transition: all 0.5s;
}

.title-box input:focus,
.title-box textarea:focus {
  outline: none;
  border: 2px solid orange;
}

.title-box button {
  width: max-content;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: orange;
  color: #fff;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
  border-radius: 20px;
  align-self: flex-end;
}

.edit-profile-btn {
    letter-spacing: 1.5px;
    color: #fff !important;
}

/* ============ Booked Tour Section =============== */

.booked-tours {
  padding: 1rem 4rem;
  width: 45%;
}

.booked-tours h1 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
}