.Carousel-slider {
  height: 600px;
  width: 100%;
  position: relative;
  }
  
.Carousel-slider.fullwidth {
  height: 700px;
}
  
.Carousel-slider.fullwidth .slider-item {
  height: auto;
  width: 800px;
}
  
.slider-wrapper {
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 0 50%;
  perspective: 800px !important;    
}


.slider-item {
box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px
rgba(0,0,0,.12);
display: none;
height: 600px;
left: 0;
position: absolute;
text-align: center;
top: 0;
width: 1000px;
cursor: pointer;
border: 5px solid #ffc107;


background-size: cover !important;
object-fit: cover !important;
background-position: center !important;
background-repeat: no-repeat !important;
}

.indicators {
top: 100%;
left: 50%;
padding: 0;
list-style-type: none;
margin: 40px 0 0 -77px;
position: absolute;
}

.indicators li {
color: #255f8b;
float: left;
height: 16px;
margin-right: 8px;
text-align: center;
width: 16px;

background:#aaa !important;
border-radius: 50%;
}


.indicators li:last-child {margin: 0;}
.indicators .active a {
  background : var(--secondary-color) !important;
  border-radius: 50%;
  display: block;
  height: 16px;
  width: 16px;

  top: -2px; 
  left: -2px;
}

.superHero1 {background-image: url(../assets/images/Slider/Tour-1.jpg); border-radius: 50px !important;}
.superHero2 {background: url(../assets/images/Slider/Tour-2.jpg); border-radius: 50px !important;}
.superHero3 {background: url(../assets/images/Slider/Tour-3.jpg); border-radius: 50px !important;}
.superHero4 {background: url(../assets/images/Slider/Tour-4.jpg); border-radius: 50px !important;}
.superHero5 {background: url(../assets/images/Slider/Tour-5.jpg); border-radius: 50px !important;}
.superHero6 {background: url(../assets/images/Slider/Tour-6.jpg); border-radius: 50px !important;}
.superHero7 {background: url(../assets/images/Slider/Tour-7.jpg); border-radius: 50px !important;}